<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test1">		
		<groups>
		    <!-- <dependencies>
		        <group name="SceneShare" depends-on="AppDimming" ></group>
		        <group name="Delay" depends-on="SceneShare" ></group>
		        <group name="Switch" depends-on="Delay" ></group>
		    </dependencies> -->
		    <!-- <run>跑哪个组，在这里添加
		        <include name="AppDimming" />
		        <include name="Switch" />		        
		        <include name="SceneShare" />
		        <include name="Delay" />	           
		    </run> -->	
		    <run>
		        <include name="login"></include>
		    </run>
		</groups>		
		<classes>		    
			<class name="com.test.testcase.Bedlight" />	      
		</classes>			
	</test>
	
	<!-- <test preserve-order="true" name="Test2">
	    <groups>
	        <run>
	            <include name="Set"></include>
	        </run>
	    </groups>
	    <classes>
	        <class name="com.test.testcase.UniversalSet"></class>
	    </classes>   
	</test> -->
</suite> 
